@model AR.EPAM.AuctionWebUI.Models.AdministrationViewModels.LotsPartialViewModel

<hr />

@foreach (var lot in Model.Lots)
{
    @Html.ActionLink(lot.Name, "ViewLot", "Auction", new { id = lot.Id }, null)
    if (HttpContext.Current.User.IsInRole("Administrator"))
    {
        <p>Link for administrator - @Html.ActionLink(lot.Name, "LotById", "Lot", new { lotId = lot.Id }, null)</p>
    }
    <hr />
}